<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Chat"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/py"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatKGB"
        tools:targetApi="31">
        <activity
            android:name=".activity.Search"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity"
            android:label="Rechecher"/>
        <activity
            android:name=".activity.Chatact"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.Settings"
            android:parentActivityName=".activity.MainActivity"
            android:label="Paramètre"
            android:exported="false" />
        <activity
            android:name=".activity.Inscription"
            android:exported="false"
            android:label="Inscription"
            android:parentActivityName=".activity.Authentification" />
        <activity
            android:name=".activity.Authentification"
            android:exported="false"
            android:label="Connexion" />
        <activity
            android:name=".activity.AccuielActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>